MUNIT/outputs/
MUNIT/src/models/
MUNIT/data/
MUNIT/logs/
MUNIT/.idea/
dgx/scripts/
MUNIT/.ipynb_checkpoints/
MUNIT/src/*jpg
MUNIT/notebooks/.ipynb_checkpoints/*
MUNIT/exps/
MUNIT/src/yaml_generator.py
Ganilla/.idea/
*.tar.gz
*ipynb
*.zip
*.pkl
*.pyc
*jpg
*png
*.t7
*.log
*.pt
*.suo
*.sqlite

